Package: com.yourcompany.testtweak
Name: test_tweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: aa aa
Author: aa aa
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
