Package: com.yourcompany.tbauto
Name: tb_auto
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: zhang san
Author: zhang san
Section: System
Tag: role::hacker
